<main>
  <article>

    <!--
      - #SERVICE
    -->

    <section class="section service has-bg-image" aria-labelledby="service-label"
             style="background-image: url('assets/images/service-bg.png')">
      <div class="container">

        <h2 class="section-title headline-md text-center" id="service-label">My Services</h2>

        <ul class="service-list">

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(221, 100%, 79%)">

              <div class="card-media">
                <ion-icon name="shapes-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Web Design & Frontend Development</h3>

                <p class="body-sm">
                  I specialize in creating responsive, user-friendly web interfaces using the latest front-end technologies. My goal is to ensure that your web application not only looks great but also offers a seamless user experience across all devices.<br/>

                  I ensure that every design is tailored to meet your business needs, aligning aesthetics with functionality for a great user experience.
                </p>
              </div>

            </div>
          </li>

          <li class="card-container">
            <div class="card card-md" style="background-color: hsl(76, 39%, 72%)">

              <div class="card-media">
                <ion-icon name="code-slash-outline" aria-hidden="true"></ion-icon>
              </div>

              <div>
                <h3 class="card-title title-sm">Backend & Full-Stack Development</h3>

                <p class="body-sm">
                  In addition to web design, I offer robust backend development using Java. With a focus on creating scalable and efficient solutions, I can handle everything from complex data processing tasks to building entire back-end architectures.<br/>
                  I offer end-to-end development solutions that cover all aspects of a web project—from designing the user interface to implementing powerful backend logic and database management.
                </p>
              </div>

            </div>
          </li>


        </ul>
        <div class="card-container container-chose">
          <div class="card card-md" style="background-color: beige">

            <div class="card-media">
              <ion-icon name="help-outline" aria-hidden="true"></ion-icon>
            </div>

            <div>
              <h3 class="card-title title-sm">Why Choose My Services?</h3>

              <p class="body-sm">
                <span style="font-weight: bold">Versatility:</span> I work with a wide range of technologies to meet your unique business needs.<br/>
                <span style="font-weight: bold">Expertise:</span> With years of experience in web design and backend development, I provide high-quality solutions.<br/>
                <span style="font-weight: bold">Efficiency:</span> I deliver reliable, scalable, and performance-driven web applications that align with your goals.<br/>
              </p>
            </div>

          </div>
        </div>

      </div>
    </section>

  </article>
</main>
