<div class="banner">
  <div class="logos">
    <div class="logo">
      <img src="assets/images/javad.png" alt="JAVA" height="500" width="1500">
    </div>
    <div class="logo">
      <img src="assets/images/angular.svg" alt="Angular" height="679" width="2500">
    </div>
    <div class="logo">
      <img src="assets/images/html.png" alt="HTML & CSS" height="360" width="1173">
    </div>
    <div class="logo">
      <img src="assets/images/sql.png" alt="SQL" height="360" width="1173">
    </div>
    <div class="logo">
      <img src="assets/images/spring.png" alt="Spring" height="329" width="1280">
    </div>
  </div>
</div>
