/* Phong cách chính */
.banner {
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.logos {
  display: flex;
  animation: scroll 10s linear infinite;
}

.logo {
  display: flex;
  align-items: center;
  margin: 0 100px;
  color: white;
  font-size: 24px;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

@keyframes scroll {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Phong cách responsive cho mobile */
@media (max-width: 768px) {
  .logo {
    margin: 0 50px; /* Giảm khoảng cách giữa các logo */
    font-size: 18px; /* Giảm kích thước chữ */
  }

  .logo img {
    height: 20px; /* Giảm kích thước hình ảnh */
  }
}

@media (max-width: 480px) {
  .logo {
    margin: 0 20px; /* Giảm thêm khoảng cách giữa các logo */
    font-size: 16px; /* Kích thước chữ nhỏ hơn cho điện thoại nhỏ */
  }

  .logo img {
    height: 15px; /* Kích thước hình ảnh nhỏ hơn nữa */
  }

  .logos {
    animation: scroll 15s linear infinite; /* Làm chậm tốc độ cuộn trên thiết bị nhỏ */
  }
}
