<main>
  <article>
    <section class="section hero" aria-label="home">
      <div class="container">
        <div class="hero-content">
          <p class="hero-subtitle" style="padding-top: 15px">
            My name is Nguyen Duy Anh
          </p>

          <h1 class="headline-lg">I'm a Backend Developer</h1>

          <p class="hero-text body-md">
            Based in Binh Thanh, Ho Chi Minh City, Vietnam.
          </p>

          <a (click)="scrollToSection()" class="btn btn-primary">Let's Start</a>
        </div>

        <figure class="hero-banner">
          <img
            style="max-height: 480px"
            src="assets/images/ndanhxx.png"
            width="680"
            alt="picture"
            class="w-100"
            loading="lazy"
          />
        </figure>
      </div>
    </section>

    <!--
      - #SKILLS
    -->

    <section class="client" aria-label="Trusted client">
      <app-moving-bar></app-moving-bar>
    </section>

    <!--
      - #ABOUT
    -->
    <div #sectionCible><app-about></app-about></div>

    <!--
      - #CTA
    -->

    <section class="cta">
      <div class="container">
        <h2 class="title-lg">Intrested working with me?</h2>

        <a routerLink="/contact" class="btn btn-tertiary">Contact Now</a>
      </div>
    </section>
  </article>
</main>
